{
  "presets":["@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@libs": "./src/libs",
        "@framework": "./src/framework",
        "@middlewares": "./src/middlewares",
        "@modules": "./src/modules"
      }
    }]
  ]
}