{
    "presets":[
        [
            "@babel/preset-env",
            {
              "targets": {
                "node": "current"
              }
            }
        ]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
            "@db": "./src/db",
            "@core": "./src/core",
            "@middlewares": "./src/middlewares",
            "@modules": "./src/modules"
            }
        }]
    ]
}